p{
    font-size: 15px;
}

li {
    font-size: 15px;
}

li a{
    font-size: 15px;
}

h1 {
    /* background: #369 none repeat scroll 0 0; */
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 170%;
    font-weight: bold;
    letter-spacing: 0.1em;
    /* margin: -1em -1em .2em; */
    /* padding: 0.65em 0em; */
}

.title {
    color: #a5563d;
}

h2 {
    font-size: 130%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #ccc;
    padding: .2em;
}

h3 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h4 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h5 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

h6 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

.NEXT {
    background-color: blue;
}

.WAITING {
    background-color: orange;
}

.CANCELLED {
    background-color: forestgreen;
}

.HOLD {
    background-color: magenta;
}

#org-div-header
{
    font-size: 100%;
    white-space: nowrap;
}

.toptitle {
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    padding: 1.2em 0em;
    border-bottom: 1px dotted grey;
    position: relative;
}

.toptitle span {
    font-size: 200%;
    color: black;
}

.topnav {
    padding: 0.3em 0em;
    border-bottom: 1px dotted grey;
    text-align: center;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    right:0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* 4x3 纵横比 */
.iframe-container-4x3 {
    padding-top: 75%;
}

.img-container{
    /*将图片容器设置为相对定位，作为图片定位的参照*/
    position: relative;
    /*设置块相对于其父级元素的宽度*/
    width:20%;
    /*图片容器只设置宽度属性，利用padding-top/padding-bottom将块撑开，设置相对于父级元素宽度的百分数*/
    padding-bottom: 20%;
    /*初始化图片容器高度为零*/
    height: 0;
    /*超出图片容器部分隐藏*/
    overflow: hidden;
    /*显示图片容器边框*/
    border:1px solid grey;
}
.img-container img{
    /*设置图片为绝对定位，相对于图片容器定位*/
    position: relative;
    /*距离图片容器顶部和左边位置为0*/
    top:0;
    left: 0;
    /*相对于图片容器大小比例，此处为全覆盖图片容器*/
    width: 100%;
    height:100%;
}
