p{
    font-size: 15px;
}

li {
    font-size: 15px;
}

li a{
    font-size: 15px;
}

h1 {
    background: #369 none repeat scroll 0 0;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #ffffff;
    font-size: 160%;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: -1em -1em .2em;
    padding: 0.55em 1em;
}

.title {
    color: white;
}

h2 {
    font-size: 140%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #ccc;
    padding: .2em;
}

h3 {
    font-size: 120%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h4 {
    font-size: 110%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h5 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

h6 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

.NEXT {
    background-color: blue;
}

.WAITING {
    background-color: orange;
}

.CANCELLED {
    background-color: forestgreen;
}

.HOLD {
    background-color: magenta;
}

#org-div-home-and-up2
{ text-align: left; font-size: 100%; white-space: nowrap; }
