p{
    font-size: 15px;
}

li {
    font-size: 15px;
}

li a{
    font-size: 15px;
}

h1 {
    /* background: #369 none repeat scroll 0 0; */
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 170%;
    font-weight: bold;
    letter-spacing: 0.1em;
    /* margin: -1em -1em .2em; */
    /* padding: 0.65em 0em; */
}

.title {
    color: #a5563d;
}

h2 {
    font-size: 130%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #ccc;
    padding: .2em;
}

h3 {
    font-size: 110%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h4 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h5 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

h6 {
    font-size: 100%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: .1em;
    color: black;
}

.NEXT {
    background-color: blue;
}

.WAITING {
    background-color: orange;
}

.CANCELLED {
    background-color: forestgreen;
}

.HOLD {
    background-color: magenta;
}

#org-div-header
{
    font-size: 100%;
    white-space: nowrap;
}

.toptitle {
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    padding: 1.2em 0em;
    border-bottom: 1px dotted grey;
    position: relative;
}

.toptitle span {
    font-size: 200%;
    color: black;
}

.topnav {
    padding: 0.3em 0em;
    border-bottom: 1px dotted grey;
    text-align: center;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    right:0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* 4x3 纵横比 */
.iframe-container-4x3 {
    padding-top: 75%;
}
